sounddevice
google-genai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
comtypes
pycaw
win10toast
send2trash
youtube-transcript-api
pywinauto
SpeechRecognition
pyaudio
PyQt6
groq
tavily-python
pytesseract
yt-dlp
moviepy
openai
pywin32
pywin32-ctypes
setuptools
